.title-index {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $primary;
    position: absolute;
    display: block;
    top: 5rem;
    right: 2rem;
}

.portrait-index {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10rem;
}

.name-index {
    margin-top: 2rem;
    text-align: center;
}

.tagline-index {
    line-height: 1.3rem;
}

.price {
    font-size: .9rem;
    line-height: 1.2rem;
    margin-top: .3rem;
}

.tags-index {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.photographerIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 100%;
    margin-top: 2.9rem;
    &-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 1.7rem;
        margin-bottom: 9rem;
    }
    &-link, &-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-tags {
        margin-top: .8rem;
    }
}

@media screen and (min-width: 750px) {
    .title-index {
        font-size: 3.6rem;
        line-height: 3rem;
    }

    .photographerIndex {
        min-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }

    .title-index {
        line-height: 4.7rem;
        top: 4.4rem;
        right: 10rem;
    }

    .photographerIndex {
        min-width: 30%;
        margin-top: 5.1rem;
        &-container {
            margin-top: 5.9rem;
        }
    }
}