header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    &-container{
        display: flex;
    }
}

.portrait {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10rem;
}

.photographer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    margin-top: 5.4rem;
    &-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        margin-top: 5.6rem;
        margin-bottom: 9rem;
    }
    &-link, &-infos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-tags {
        margin-top: .8rem;
    }
}