.name-page {
    max-width: 70%;
}

.tagline-page {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: $tertiary;
    margin-top: .4rem;
}

.tags-page {
    font-size: 1.3rem;
    line-height: 1.7rem;
    display: block;
    margin-top: 1rem;
}

.contact {
    position: fixed;
    bottom: 3rem;
    font-size: 1.8rem;
    padding: .6rem 1.8rem;
    left: 25%;
    right: 25%;
}

.portrait-page {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5rem;
    position: absolute;
    top: 9.9rem;
    right: 2rem;
}

.profile-photographer {
    display: flex;
    align-items: flex-start;
    &__infos {
        display: flex;
        flex-direction: column;
    }
    &__tags {
        margin-left: -.4rem;
    }
}

#medias {
    margin-top: 4.6rem;
    display: flex;
    flex-wrap: wrap;
}

.medias-photographer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    &__visual {
        min-width: 100%;
        &__img, &__video {
            min-width: 100%;
            height: 19rem;
            object-fit: cover;
            border-radius: .5rem;
        }
    }
    &__infos {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        & p {
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: $primary;
            max-width: 80%;
        }
        &__likes {
            display: flex;
            align-items: center;
        } 
    }
}

.fa-heart {
    color: $primary;
    margin-left: .6rem;
    font-size: 1rem;
}

#likesPrice {
    display: none;
}

@media screen and (min-width: 750px) {
    #medias {
        margin-top: 0;
    }

    .header-page {
        margin-bottom: 4rem;
    }

    .name-page {
        font-size: 6.4rem;
        line-height: 8.3rem;
        min-width: 100%;
        margin-right: 2.4rem;
    }

    .citycountry-page {
        font-size: 2.4rem;
        line-height: 3.1rem;
    }

    .tagline-page {
        font-size: 1.8rem;
        line-height: 2.3rem;
        margin-top: 1.9rem;
    }

    .tags-page {
        font-size: 1.8rem;
        line-height: 2.3rem;
    }

    .portrait-page {
        width: 20rem;
        height: 20rem;
        object-fit: cover;
        border-radius: 10rem;
        top: 18.9rem;
        right: 7rem;
    }

    .profile-photographer {
        padding: 5.6rem 5rem 5.4rem 5rem;
        background-color: $background-grey;
        &__tags {
            margin-top: 2.3rem;
        }
    }

    #medias {
        column-gap: 2%;
    }

    .medias-photographer {
        width: 32%;
        display: flex;
        flex-direction: column;
        &__visual {
            &__img, &__video {
                height: 30rem;
                width: 35rem;
                margin-top: 3rem;
            }
        }
        &__infos {
            & p {
                font-size: 2.4rem;
                line-height: 3.1rem;
            }
        }
    }

    .fa-heart {
        font-size: 1.8rem;
    }

    #likesPrice {
        position: fixed;
        bottom: 0;
        right: 3.6rem;
        background-color: $secondary;
        color: #000;
        display: flex;
        align-items: center;
        padding: 2.1rem 3.1rem 1.6rem 3.1rem;
        border-radius: .5rem .5rem 0 0;
        & p {
            font-weight: 500;
            font-size: 2.4rem;
        }
        & .fa-heart {
            color: #000;
            margin-left: .46rem;
        }
        & p:last-child {
            padding-left: 6.7rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .contact {
        position: static;
        font-size: 2rem;
        line-height: 2.6rem;
        padding: 2.1rem 1.1rem;
            &:hover, &:focus {
                color: #000;
                background-color: $secondary;
            }
    }

    .portrait-page {
        right: 15rem;
    }
}